/* stylelint-disable no-descending-specificity */
.pagination {
  @apply flex justify-between items-center py-4 px-6;
  .rightArrow {
    pointer-events: none;
    svg {
      @apply w-4 h-4;
    }
  }
  :global(.ant-select) {
    @apply mx-2 w-auto;
    :global(.ant-select-selector) {
      @apply border hover:!border-dark-border-default bg-dark-bgc text-white py-2 rounded !border-dark-border-default flex items-center;
      :global(.ant-select-selection-item) {
        @apply pe-5 text-white font-medium leading-5 text-xs;
      }
    }
  }
  :global(.ant-btn-primary) {
    @apply border text-primary-color border-primary-color rounded-[6px] font-medium bg-dark-bgc hover:!bg-dark-bgc hover:!border-primary-border-hover hover:!text-primary-color;
    svg {
      path {
        @apply fill-primary-color;
      }
    }
  }
  .pagination__right {
    @apply flex items-center;
    .ant-pagination-simple-pager {
      @apply hidden;
    }
    :global(.ant-btn.ant-btn-background-ghost[disabled]) {
      @apply !bg-dark-bgc-disable !border-dark-border-default  !text-dark-caption;
      svg {
        path {
          @apply fill-dark-caption;
        }
      }
    }

    .pagination__prev,
    .pagination__next {
      @apply rounded-[6px] mr-0;
      .anticon {
        @apply text-[16px];
      }
      .active-icon {
        svg {
          @apply text-primary-color;
        }
      }
      .disabled-icon {
        svg {
          @apply text-dark-caption fill-dark-caption;
        }
      }
    }

    .prev,
    .next {
      box-shadow: none;
      @apply flex justify-center box-border m-0 items-center border;
    }
    .pagination__page {
      box-sizing: border-box;
      @apply text-xs h-8 rounded-[6px] mx-2 text-dark-caption leading-[18px] bg-dark-bgc-disable px-2 py-[7px];
    }
  }
}

.paginationMobile {
  @apply flex items-start flex-col;
  .pagination__right {
    @apply mt-2;
  }
}
